<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 主要使用css -->
    <link rel="stylesheet" href="/static/css/index.css">
    <!-- reset css -->
    <link rel="stylesheet" href="/static/css/reset1.css">
    <!-- <link rel="stylesheet" href="{% static 'css/index.css' %}"> -->
    <!-- font family -->
    <link href="https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap" rel="stylesheet">
</head>

<body class="top op">
    <div id="wrapper">
        <div class="menu anim-item">
            <div>
                <ul class="btns">
                    <li class="anim-fade anim-delay-1"><a href="#">個人</a></li>
                    <li class="anim-fade anim-delay-2"><a href="#">筆記</a></li>
                    <li class="anim-fade anim-delay-3"><a href="#">作品</a></li>
                </ul>
                <footer class="footer">
                    <a href="#" target="_blank" class="anim-fade anim-delay-3">
                        <img src="/static/images/Twitter_link.png" alt="Twitter">
                    </a>
                    <ul class="share anim-fade anim-delay-7">
                        <li><a href="#"><img src="/static/images/Fb_ico.png" alt="facebook"></a>
                        </li>
                        <li><a href="#"><img src="/static/images/Line_ico.png" alt="line"></a>
                        </li>
                        <li><a href="#"><img src="/static/images/Twitter_ico.png" alt="twitter"></a>
                        </li>
                    </ul>
                    <small><span style="font-size: 14px;">&copy;</span>2022 Wayne Test</small>
                </footer>
            </div>
        </div>
        <div class="main" id="top">
            <div class="view"></div>
        </div>
    </div>
</body>

</html>